
.mainTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.mainTitle div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.container{
    width: 100vw;
    margin:0;
    padding: 0;
    display:flex;
}
section{
    width: 100vw;
    justify-content: space-around;
}